to use the secrets file, remove the first two lines and change the name to "secrets.json".  this is only a template.
this is in a file like this in case there is some sort of authentication added to the images api.

{
    "token": "TOKEN_HERE"
}